extends layout

block content
  header
    h1 キャラクター情報編集

  if updated
    .alert.alert-success(role="alert")
      strong 更新に成功しました。
  else if notFound
    .alert.alert-worning(role="alert")
      strong 該当のキャラクターがランキングに見つかりませんでした。
      | 入力内容が正しいか確認してください。
      br
      | いまのところ、ランキングにのっていないキャラクターについてはサポートしていません。ごめんなさい。
  else if countStop
    .alert.alert-warning(role="alert")
      strong レベル250達成おめでとうございます！
      br
      | でも、このサービスはカンストしたキャラクターはサポートしていません。
      br
      | よかったら、他のサブキャラクターを登録してみてください。
  else if err
    .alert.alert-danger(role="alert")
      strong エラーが発生して更新に失敗しました…。
      | しばらくしてから試してみてください。（できたら管理者にご一報ください）


  form#character-infomatin(action="/edit" method="POST")

    .form-group
      label(for="characterName") キャラクター名
      input#characterName.form-control(name="characterName" required=true value= user.characterName)

    .form-group
      label(for="world") ワールド
      select#world.form-control(name="world" required=true)
        each w in world
          if user.world === w[0]
            option(value= w[0] selected)= worldName[w[0]]
          else
            option(value= w[0])= w[1]= worldName[w[0]]

    .form-group
      label(for="category") 職業
      select#category.form-control(name="category" required=true)
        each c in category
          if user.category === c[0]
            option(value= c[0] selected)= c[1]
          else
            option(value= c[0])= c[1]

    .form-group
      div ツイート方法
      label.form-check-label
        input.form-check-input(type="radio" name="tweetBy" value="selfAccount" checked= user.tweetBy !== "botMention")
        | 自分のアカウント
      label.form-check-label
        input.form-check-input(type="radio" name="tweetBy" value="botMention" checked= user.tweetBy === "botMention")
        | Botメンション

    .form-group
      label(for="tweetAt") ツイート時刻
      select#tweetAt.form-control(name="tweetAt")
        - var ut = (user && typeof(user.tweetAt) !== 'undefined' ) ? user.tweetAt : 9;
        - var t = 0;
          while t < 24
            option(value= t selected= (t === ut))= `${t++}:00`

    .form-ckeck.form-ckeck-inline.mb-2
      label.form-check-label
        input#intervalDay.form-check-input(type="radio" name="interval" value="day" checked= user.interval === "day")
        | 毎日
      label.form-check-label
        input#intervalWeek.form-ckeck-input(type="radio" name="interval" value="week" checked= user.interval === "week")
        | 週１（月曜日）

    .form-check.mt-4
      label.form-check-label
        input#tweetOnlyActiveDay.form-check-input(type="checkbox" name="tweetOnlyActiveDay" checked= user.tweetOnlyActiveDay)
        | 一定以上の経験値を獲得した時だけツイートする

    - if (!user.threshold) user.threshold = {}
    .form-row
      .form-group.col-8
        input#thresholdValue.form-control.threshold(type="number" name="thresholdValue" value= user.threshold.value ? user.threshold.value : 1 disabled= !user.tweetOnlyActiveDay)
      .form-group.col
        select#thresholdOrder.form-control.threshold(name="thresholdOrder" disabled= !user.tweetOnlyActiveDay)
          each symbol, index in ['k', 'm', 'g']
            -var order = Math.pow(1000, (index + 1))
              option(value= order selected= user.threshold.order === order)= symbol

    button#submit.btn.btn-primary.btn-lg.btn-block.my-4(type="submit") 更新

  script(src="https://cdn.jsdelivr.net/npm/gasparesganga-jquery-loading-overlay@1.5.4/src/loadingoverlay.min.js")
  script
    include ./includes/edit.js
