extends layout

block content
  header
    h1 キャラクター情報編集

  if updated
    .alert.alert-success(role="alert")
      strong 更新に成功しました。
  else if notFound
    .alert.alert-worning(role="alert")
      strong 該当のキャラクターがランキングに見つかりませんでした。
      | 入力内容が正しいか確認してください。
      br
      | いまのところ、ランキングにのっていないキャラクターについてはサポートしていません。ごめんなさい。
  else if countStop
    .alert.alert-warning(role="alert")
      strong レベル250達成おめでとうございます！
      br
      | でも、このサービスはカンストしたキャラはサポートしていません。
      br
      | よかったら、他のサブキャラクターを登録してみてください。
  else if err
    .alert.alert-danger(role="alert")
      strong エラーが発生して更新に失敗しました…。


  form#character-infomatin(action="/edit" method="POST")

    .form-group
      label(for="characterName") キャラクター名
      input#characterName.form-control(name="characterName" required=true value= user.characterName)

    .form-group
      label(for="world") ワールド
      select#world.form-control(name="world" required=true)
        each w in world
          if user.world === w[0]
            option(value= w[0] selected)= worldName[w[0]]
          else
            option(value= w[0])= w[1]= worldName[w[0]]

    .form-group
      label(for="category") 職業
      select#category.form-control(name="category" required=true)
        each c in category
          if user.category === c[0]
            option(value= c[0] selected)= c[1]
          else
            option(value= c[0])= c[1]

    .form-check
      lebel.form-check-label
        input.form-check-input(type="checkbox" name="tweetOnlyActiveDay" checked= user.tweetOnlyActiveDay)
        | 経験値変動があるときだけツイートする

    button.btn.button-primary(type="submit") 更新
